.bouton_home {
  margin: 0;
  top: 50%;
  left: 50%;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  transition: 0.5s;

}
.bouton_page1 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 0.4);
  background: #262c37;
}

.bouton_page2 {
    text-decoration: none;
    color: rgba(255, 0, 255, 0.4);
    background: #262c37;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
}

.bouton_page1:hover
{
  color: rgba(255, 255, 255, 1);
}

.bouton_page2:hover
{
  color: rgba(145, 170, 145, 1);
}

.bp1s {
  display: block;
  position: absolute;
  background: #2894ff;
}

.bp2s {
  display: block;
  position: absolute;
  background: #ff9428;

}

section a span:nth-child(1)
{
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
}
