* {
  box-sizing: border-box;
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  background-color: var(--dark);
  border: 3px solid #FFF;
  border-radius: 5px;
  z-index: 9;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin: 5px 0 0 0;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}
#type-handi {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#popupForm {
  width: 300px;
}

#popupForm label, #popupForm button {
  color: var(--white);
  font-weight: bold;
  font-size: 2em;
}

#popupForm label {
  margin-right: auto;
  padding: 15px;
}

#reponse {
  display: flex;
  width: 100%;
}
