/*barre en haut*/
header {
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    height: 50px;
}
header h1 {
  position:relative;
  left:0px;
  height: 100%;
  margin: 0; padding: 0 10px;
  font: 2em "Fira Sans", sans-serif;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
header h1:hover {
  border-image: var(--colorfull) 10;
}
header ul {
  margin-left: auto;
  display: flex;
  height: 100%;
}
header li {
  border-left: 2px solid transparent;
  border-image: var(--colorfull) 10;
  width: 100px;
  transition: 0.2s;
}
header li:hover {
  background: var(--grey);
}
header a {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  color: var(--white);
  transition: 0.2s;
}
header a:hover {
  color: var(--white);
}
