header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: var(--dark);
}
header h1 {
  padding: 0;
  padding-left: 5px;
  font: 2em "Fira Sans", sans-serif;
}
header ul {
  margin-left: auto;
  display: flex;
  height: 100%;
}
header li {
  /* border: 2px solid transparent; */
  width: 100px;
  transition: 0.2s;
}
header li:hover {
  /* border-image: var(--colorfull) 10; */
  background: var(--grey);
}
header ul a {
  display : flex;
  justify-content: center;
  align-items : center;

  text-align: center;
  height: 100%;
}
