header {
  display: flex;
  background: var(--dark);
  height: 50px;
}
header h1 {
  position: relative;
  height: 100%;

  margin: 0; padding: 0 10px;
  font: 2em "Fira Sans", sans-serif;
  cursor: pointer;
  overflow: hidden;

  background-image: linear-gradient(var(--white), var(--white));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;

  transition: 0.2s;
}
header h1:hover {
  background-image: var(--colorfull);
}
header ul {
  display: flex;
  height: 100%;
}
header li {
  border-left: 2px solid transparent;
  border-image: var(--colorfull) 10;
  padding: 5px;
  transition: 0.2s;
}
header li:hover {
  background: var(--grey);
}
header a {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  color: var(--white);
  transition: 0.2s;
}
header a:hover {
  color: var(--white);
}
header button {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 2em;
  width: 50px;
  height: 100%;
  transition: 0.2s;
}
header button:hover {
  transform: scale(1.3);
}
