header{
    height:180px;
    font-size: 2em !important;
}

    header * {
        line-height: 180px !important;
    }

header li {
    width: 200px;
}

button {
    width: 200px !important;
    height: 120px !important;
}
input {
    width: 300px !important;
    height:120px !important;
}