#form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 50%;
  align-items: center;
}
#entry {
  display: flex;
  align-items: center;
}
#query {
  background: var(--dark);
  height: 2em;
  flex-grow: 1;
  min-width: 50%;
  width: 70vh;
  max-width: 70vh;
  line-height: 2em;
  font-size: 1.4em;
  text-indent: 10px;
  padding: 3px;
  vertical-align: middle;

  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.2s;
}
#query:hover {
  background-image: linear-gradient(var(--dark), var(--dark)),
                    var(--colorfull);
}
#query:focus {
  outline: none;
}
#entry button {
  height: 2em; width: 2.5em;
  line-height: 1.4em;
  font-size: 1.4em;
  padding: 3px;

  background: var(--dark);
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.2s;
}

#entry button:hover {
  background-image: linear-gradient(var(--dark), var(--dark)), var(--colorfull);
}
#selection {
  display: flex;
}

.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 10px 10px;
  margin: 5px 7px;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 20px;
  height: 20px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}

.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .7);
  font-size: 16px;
}
