header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
}
header h1 {
  padding: 0;
  padding-left: 5px;
  font: 2em "Fira Sans", sans-serif;
}
header h1 a {
  text-decoration: none;
}
header ul {
  margin-left: auto;
  display: flex;
  height: 100%;
}
header li {
  list-style-type: none;
  /* border: 2px solid transparent; */
  width: 100px;
  transition: 0.2s;
}
header li:hover {
  /* border-image: var(--colorfull) 10; */
  background: var(--grey);
}
header ul a {
  display: block;
  text-align: center;
  height: 100%;
  line-height: 200%;
  text-decoration: none;
}
